
/** Main styles for the document **/

  html
    {
      overflow-y: scroll; /** Ensures the up-down scrollbar is always present, to avoid 
                              the appearance of the header shifting slightly when going 
                              from pages requiring the scrollbar to ones which don't. **/
    }

:root { --blue: #007bff; 
        --indigo: #6610f2; 
        --purple: #6f42c1; 
        --pink: #e83e8c; 
        --red: #dc3545; 
        --orange: #fd7e14; 
        --yellow: #ffc107; 
        --green: #28a745; 
        --teal: #20c997; 
        --cyan: #17a2b8; 
        --white: #fff; 
        --gray: #6c757d; 
        --gray-dark: #343a40; 
        --primary: #007bff; 
        --secondary: #6c757d; 
        --success: #28a745; 
        --info: #17a2b8; 
        --warning: #ffc107; 
        --danger: #dc3545; 
        --light: #f8f9fa; 
        --dark: #343a40; 
        --breakpoint-xs: 0; 
        --breakpoint-sm: 576px; 
        --breakpoint-md: 768px; 
        --breakpoint-lg: 992px; 
        --breakpoint-xl: 1200px; 
        --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
  body
    {
      margin: 0;
      border: 0;
      padding: 0 0 50px;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14pt;
      line-height: 1.5em;
    }

  header
    {
      position: fixed;            /** Keeps the header fixed in relation to the browser window. **/
      width: 100%;
      z-index: 1000;              /** Ensures the header is above other elements when scrolling. **/
      text-align: center;         /** Besides centering the title, this will center the
                                      navigation bar as a whole. **/
      white-space: nowrap;        /** Forces the contents of a header element to never wrap. **/  
      background-color:white;
    }

  hr { box-sizing: content-box; height: 0; overflow: visible; }
  hr { margin-top: 1rem; margin-bottom: 1rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); }


  h1
    {
      color: #990033;
      font-size: 15pt;
    }




        /** The navigation bar (the area between the two horizontal lines). **/

          nav
            {
              margin: 10px 20px;
              padding: 0;
            }


          nav > ul  /** Selects all ul's inside of a nav. **/
            {
              margin: 0;
              border: 0;
              padding: 0;
              list-style: none;      
              display: inline-block; 
            }


          nav > ul > li  /** Selects all li's that are inside of a ul which is inside of a nav. **/
            {            
              margin: 5px 10px;
              float: left;
            }

          nav  a  /** Selects all links that are inside of a ul which is a child of a nav. **/
            {
               margin: 10px 20px;
               padding: 5px 10px;
               font-weight: bold;
               font-size: 16pt;
            }



  #content
    {
      margin: 0 auto;
      border: 0;
      padding: 100px 0px 0px;
      width: 80%;
      min-width: 800px;
      max-width: 1000px;
      text-align: left;
      position: relative;
    }

/*Styling links*/

    /*Colors all links (regardless of whether or not previously visited, 
    currently under the cursor, or currently clicked) blue, and
    forces the browser to display them without an underline*/

    a:link, a:hover, a:visited, a:visited:hover
      {
      color: #0000cc;
      text-decoration: none;
      }



.zzz {
  margin: 15px 10px;
  height: 35px;
  color: #990033;
  font-size: 20pt;
  font-weight: bold;
}




.paper { padding-top: .25rem; padding-bottom: .25rem; }

.paper-tight .papertitle { font-weight: bold; }

.paper-tight .journalname { font-weight: bold; font-style: italic;  color: #990033}
