
/** Main styles for the document **/

  html
    {
      overflow-y: scroll; /** Ensures the up-down scrollbar is always present, to avoid 
                              the appearance of the header shifting slightly when going 
                              from pages requiring the scrollbar to ones which don't. **/
    }

  body
    {
      margin: 0;
      border: 0;
      padding: 0 0 50px;
      width: 100%;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13pt;
    }

  header
    {
      position: fixed;            /** Keeps the header fixed in relation to the browser window. **/
      width: 100%;
      z-index: 1000;              /** Ensures the header is above other elements when scrolling. **/
      text-align: center;         /** Besides centering the title, this will center the
                                      navigation bar as a whole. **/
      white-space: nowrap;        /** Forces the contents of a header element to never wrap. **/  
    }

  h4
    {
      color: #0000cc;
      font-size: 15pt;
    }



          header h2  /** Selects all h2's inside of a header. **/
            {
              margin: 10pt;
              border: 0;
              padding: 0;
              font-weight: bold;
            }

        /** The navigation bar (the area between the two horizontal lines). **/

          nav
            {
              margin: 0;
              padding: 0;
            }


          nav > ul  /** Selects all ul's inside of a nav. **/
            {
              margin: 0;
              border: 0;
              padding: 0;
              list-style: none;      
              display: inline-block; 
            }


          nav > ul > li  /** Selects all li's that are inside of a ul which is inside of a nav. **/
            {            
              margin: 5px 10px;
              float: left;
            }

          nav  a  /** Selects all links that are inside of a ul which is a child of a nav. **/
            {
               margin: 0 20px;
               padding: 5px 10px;
               font-weight: bold;
            }



  #content
    {
      margin: 0 auto;
      border: 0;
      padding: 100px 0px 0px;
      width: 70%;
      min-width: 600px;
      max-width: 800px;
      text-align: left;
      position: relative;
      display: block;
    }

/*Styling links*/

    /*Colors all links (regardless of whether or not previously visited, 
    currently under the cursor, or currently clicked) blue, and
    forces the browser to display them without an underline*/

    a:link, a:hover, a:visited, a:visited:hover
      {
      color: #990033;
      text-decoration: none;
      }


